body{
margin:0;
background-color: rgb(214, 157, 157);
}

.formulario{
    width:50vw;
    border:2px solid black;
    height: 75vh;
    box-sizing: border-box;
    display:grid;
    background-color: aquamarine;
    margin:5% auto 5% auto
}

.inicio{
box-sizing: border-box;
width: 28vmax;
height: 14vmax;
display:grid;
grid-template-columns: repeat(2, 1fr);
margin-left:40%;
margin-top: 4%;
}

.name{
width:15vmax;
height: 17vmax;
display: grid;
box-sizing: border-box;
grid-template-columns:max-content;
margin-top: -30%;
margin-left: 3%;
gap:4%;
/* border:2px solid black; */
}

#nombre{
width:70%;
}
#fecha{
width:80%;
height: 2vmax;
}
#hora{
    width:80%;
    height: 2vmax;
}
#numtel{
    width:80%;
    height: 2vmax;
}
#Propietario{
    width:80%;
    height: 2vmax;


}

#opciones{
    width:70%;
    height: 2vmax;
}
.documento{
/* border:2px solid black; */
width:85%;
height:8vmax;
display:grid;
grid-template-columns: max-content;
margin-left: 3%;
margin-top: 2%;
}

#enviar{
    width:20%;
    height:3vmax;
    margin:3% auto 1% auto
}
.alert-container {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000000;
    padding: 20px;
    border: 2px solid rgb(120, 16, 189);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
    color: rgb(112, 77, 136);
   
  }
  
  .alert-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .alert-content {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .alert-buttons {
    text-align: right;
  }
  
  .alert-button {
    padding: 10px 20px;
    background-color: rgb(85, 35, 105);
    font-weight: 800;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 3%;
    
  }
  #alert{
    display:block;
  }
  .ima{
width:12vmax;
height:8vmax;
margin-bottom: 10%;
 }

  img{
    width:110%;
    height: 110%;
    }
    .container{
      width:50vw;
      border:2px solid black;
      height: 75vh;
      box-sizing: border-box;
      display:grid;
      background-color: aquamarine;
      margin:5% auto 5% auto
  }


  .inicio1{
    box-sizing: border-box;
    width: 28vmax;
    height: 14vmax;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left:40%;
    margin-top: 4%;
border:2px solid blue;
    }
    .name1{
      width:15vmax;
      height: 17vmax;
      display: grid;
      box-sizing: border-box;
      grid-template-columns:max-content;
      margin-top: -30%;
      margin-left: 3%;
      gap:4%;
      border:2px solid red;
      }
      .documento1{
        width:85%;
        height:8vmax;
        display:grid;
        grid-template-columns: max-content;
        margin-left: 3%;
        margin-top: 2%;
        border:2px solid black
        }
  .p1{
    font-size:medium;
    color:black;
  }
